@import '../components/View/view';
@import '../components/Nav/nav';


html,body{
  height: 100%
}

.row {
  margin-bottom: 0;
}

.center-content{
  //margin: 8% 15%;
  margin-top: 5%;
  margin-right: 5%;
}

.footer{background-color: #414141}

.codepart{
  margin: 10px;
  padding: 10px;
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 95%;
  line-height: 140%;
}

.scrollbar{
  background-color: #55db7f;
  border-radius: 10px;
  border: solid;
  width: 1350px;
  height: 700px;
	//margin-left: 30px;
	float: left;
	overflow-y: scroll;
	margin-bottom: 25px;
}

#style-1::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar{
	width: 12px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}
