@import '../components/View/view';
@import '../components/Nav/nav';
@import '../components/SideBar/sidebar';

html,body{height:100%}
.wrap{
  width:100%;
  height:100%;
  position:relative;
}

.nav{
  height:7.5%;
  position:fixed;
  top:0;
  left:0;
  width:100%;
}

.footer{
  height:10%;
  position:fixed;
  bottom:0;
  width:100%;
  margin-left:14%;
  z-index: -2;
}

.bodywrap{
  margin-top:100px;
}

.left{
  width:15%;
  top: 7.5%;
  bottom: 0px;
  position: fixed;
  z-index: -1;
}

.left, .center, .bodywrap{
  height:100%
}

.center{
  margin:8% 15%;
}

.left{
  left:0
}

.left{background-color:#aaa}
.nav{background-color:#777}
.footer{background-color: #414141}
